.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
  /*background-color: #FFF0A5;*/
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
  margin-right: 50px;
  margin-left: 40px;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  /*margin-right: 100px;*/
  margin-bottom: 10px;
}
.featurette-image.pull-right {
  /*margin-left: 100px;*/
  /*margin-right: 100px;*/
  margin-bottom: 10px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-left: 50px;
}

.lead {
  /*color: #00000;*/
  font-weight: normal;
}