$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//webfonts
@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
    font-family: 'Roboto', 'sans-serif';
}

/* header */
.navbar li a{
    height: 58px;
}
#logo{
    max-height: 40px;
    margin-top: -5px;
}
.navigationButton{
    padding: 0px;
    button{
        margin-top: -7px;
    }
}
/* footer */
#footer{
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding: 10px;
}
/*Main Page*/
#mainCarousel{
    margin-top: -20px;
    .carousel-caption{
    	padding: 40px;
    	background-color: rgba(black, 0.2);
    }

}
.carouselButton{
    @extend .btn-success;
    padding: 0px 10px;
    height: 40px;
}
#mainCarouselList{
    img{
        width: 100%;
    }
}
#carouselResponsiveButton{
    margin: 10px 10px 0px 10px;
    width: 100%;  
    text-align: center;      
}

@media (max-width: 600px){
    #mainCarousel{
        display: none;
    }
}
@media (min-width: 600px){
    #mainCarouselList{
        display: none;
    }
    #carouselResponsiveButton{
        display: none   
    }
}
/*Tour*/
.tourImg{
    text-align: center
}
@media (max-width: 992px){
    .tourImgRight{
        display: none;
    }
}
@media (min-width: 992px){
    .tourImgLeft{
        display: none;
    }
}