$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//compass
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

//webfonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body{
    font-family: 'Roboto', 'sans-serif';
}

//Genereal
.thinFont{
    font-weight: 300;
}
//Header

#logo{
    max-height: 40px;
    margin-top: -10px;
}
.navigationButton{
    height: 50px;
    //padding: 0px !important;
    button{

        margin-top: -7px;
    }
}
/* footer */
#footer{
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding: 10px;
}
/*Main Page*/
#mainCarousel{
    margin-top: -20px;
    .carousel-caption{
    	padding: 40px;
    	background-color: rgba(black, 0.2);
    }

}
.carouselButton{
    @extend .btn-success;
    padding: 0px 10px;
    height: 40px;
}
#mainCarouselList{
    img{
        width: 100%;
    }
}
#carouselResponsiveButton{
    margin: 10px 10px 0px 10px;
    width: 100%;  
    text-align: center;      
}

@media (max-width: 600px){
    #mainCarousel{
        display: none;
    }
}
@media (min-width: 600px){
    #mainCarouselList{
        display: none;
    }
    #carouselResponsiveButton{
        display: none   
    }
}
/*Tour*/
.tourImg{
    text-align: center
}
@media (max-width: 765px ){
    .tourImgRight{
        display: none;
    }
}
@media (min-width: 768px ){
    .tourImgLeft{
        display: none;
    }
}
/*Contact*/
p{
    &.bg-success , &.bg-danger{
        margin-top: 15px;
        padding: 15px;
    }
}
/*Credits*/
div.avatar{
    text-align: center;
   .img-avatar{
        //border: 10px solid #e5e5e5;
        @include border-radius(150px,150px);
        width:300px;
        height:300px;
        &:hover{
           @include box-shadow(rgba(gray, 0.4) 0 0 25px, rgba(gray, 0.2) 0 0 1px 1px inset);  
        }
    }
}