<form role="form" class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="Enter first name">
    </div>
        <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="Enter last name">
    </div>
        <div class="form-group">
      <label for="inputEmail">E-mail</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="inputSubject">Subject</label>
      <select name="subject" id="inputSubject" class="form-control">
        <option value="na" selected="">Choose One:</option>
        <option value="service">General Customer Service</option>
        <option value="suggestions">Suggestions</option>
        <option value="product">Product Support</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="inputMessage">Message</label>
      <textarea class="form-control" rows="13" id="inputMessage" placeholder="Enter your message"></textarea>
      
    </div>
  </div>
</form>