<div class="row avatar">
	<div class="col-sm-6">
		<img src="images/credit-1.png" class="img-avatar">
		<h3>Alexandru Clapa</h3>
		<p>GJsdgjsdjgsjgjsgjsj gjskgjhksgj sgsg jsg g</p>
	</div>
		<div class="col-sm-6 avatar">
		<img src="images/credit-2.png" class="img-avatar">
		<h3>Marius Alexandru</h3>
		
		<p>GJsdgjsdjgsjgjsgjsj gjskgjhksgj sgsg jsg g</p>
	</div>
</div>
<div class="row" style="margin-top:50px;">
	<div class="col-sm-6 avatar">
		<img src="images/credit-3.png" class="img-avatar">
		<h3>Ion Clapa</h3>
		<p>GJsdgjsdjgsjgjsgjsj gjskgjhksgj sgsg jsg g</p>
	</div>
		<div class="col-sm-6 avatar">
		<img src="images/credit-4.png" class="img-avatar">
		<h3>Vlad Stoica</h3>
		<p>GJsdgjsdjgsjgjsgjsj gjskgjhksgj sgsg jsg g</p>
	</div>
</div>