<div class="row avatar thinFont">
	<div class="col-sm-6">
		<a href="http://alexandruclapa.com/"><img src="images/credit-1.png" class="img-avatar"></a>
		<h3>Alexandru Clapa</h3>
		<p>Developer</p>
	</div>
		<div class="col-sm-6 avatar">
		<a href="https://www.linkedin.com/profile/view?id=16876921"><img src="images/credit-2.png" class="img-avatar"></a>
		<h3>Marius Alexandru</h3>
		<p>Designer</p>
	</div>
</div>
<div class="row" style="margin-top:50px;">
	<div class="col-sm-6 avatar">
		<a href="https://www.linkedin.com/profile/view?id=1869094"><img src="images/credit-3.png" class="img-avatar"></a>
		<h3>Ion Clapa</h3>
		<p>Mentor</p>
	</div>
		<div class="col-sm-6 avatar">
		<img src="images/credit-4.png" class="img-avatar">
		<h3>Vlad Stoica</h3>
		<p>Web Designer</p>
	</div>
</div>