<carousel id="mainCarousel">
  <slide ng-repeat="slide in slides" active="slide.active">
    <img ng-src="{{slide.image}}">
    <div class="carousel-caption thinFont">
      <h2>{{slide.mainText}}</h2>
      <p>{{slide.text}}</p>
      
      <a href="#tour"><button type="button" class="btn carouselButton" role="button">Find More</button></a>
    </div>
  </slide>
</carousel>
<div id="mainCarouselList">
  <div ng-repeat="slide in slides" id="mainCarouselList" class="thinFont">
    <h2>{{slide.mainText}}</h2>
    <p>{{slide.text}}</p>
    <img ng-src="{{slide.image}}" style="margin:auto;">
  </div>
</div>
<div class="row thinFont">
  <div class ="col-sm-4">
    <h3>Improve your driving style.</h3>
    <p>The iConnect device offers you the possibility to improve your driving skill you get in the app and in the same time you save fuel and begin to drive less aggressively.</p>
  </div>
  <div class ="col-sm-4">
    <h3>Never forget anything.</h3>
    <p>Save your car related reminders and to dos here and we do the job for you.</p>
  </div>
  <div class ="col-sm-4">
    <h3>Here to help you when in need.</h3>
    <p>Things get broken, cars get broken, and if you don't have knowledge of the car's engine or how the car works, you have no idea what happened. We can help you by detecting what's your problem and also call your mechanic in need.</p>
  </div>
</div>
<a href="#tour"><button type="button" class="btn carouselButton" id="carouselResponsiveButton" role="button">Find More</button></a>