<div class="row">
	<div class="col-md-8">
	<div class="col-md-4 tourImg tourImgLeft">
		<img src="images/tour-1.png">
	</div>
		<h2>The main screen - your car's statistics center. It'll blow your mind.</h2>
		<p>The main screen offers you information about all the app's modules. It has different sections such as your total distance traveled, your average speed, and basic user information. It also shows a timeline of your last two trips which includes the starting and ending point, the total distance and average speed. The dashboard continues with to dos and days remaining for reminders, the parking position and time spent parking in that spot (if you click the widget), and lastly, the error code detector shows an error code, if your car has any.</p>
	</div>
	<div class="col-md-4 tourImg">
		<img src="images/tour-1.png" class="tourImgRight">
	</div>
</div>
<div class="row">
	<div class="col-md-4 tourImg">
		<img src="images/tour-2.png">
	</div>
	<div class="col-md-8 coll">
		<h2>Oh yeah, it's that good. See for yourself.</h2>
		<p>The iConnect device detects the way you drive and based on that it can give you a skill and a score that you can improve in time. This awesome feature helps you to save fuel and stop driving aggressively!</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4 tourImg tourImgLeft">
		<img src="images/tour-3.png">
	</div>
	<div class="col-md-8">
		<h2>Your trip history just at your fingertips. See where you have been.</h2>
		<p>Maybe you want to know what route you have taken this time, or simply you are bored. Well, you can look on your last two sessions and see your route on the map. Simply as that.</p>
	</div>
	<div class="col-md-4 tourImg">
		<img src="images/tour-3.png" class="tourImgRight">
	</div>
</div>
<div class="row">
	<div class="col-md-4 tourImg">
		<img src="images/tour-4.png">
	</div>
	<div class="col-md-8">
		<h2>All your car info in just one place. Never forget anything.</h2>
		<p>With RAX, you can store info such as your car make and model, your car's VIN code and chassis code, the fabrication year of your car, and lastly your mechanic number which we'll be used to call him or her when you have a problem. Also, some of this data will be transmitted to your mechanic to identify your car much easily.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4 tourImg tourImgLeft">
		<img src="images/tour-5.png">
	</div>
	<div class="col-md-8">
		<h2>Your car documents and reminders stored here. Remember when to rotate your tires or renew your insurance.</h2>
		<p>You tend to have a lot of tasks and things to remember which you usually forget. We get it, you have a busy life, a family so things add up. That's why you can add all you car related stuff here and you're done. You can view how much days you have until you must rotate your tires for example and also the app reminds you to do that. And that's it! Awesome, isn't it?</p>
	</div>
	<div class="col-md-4 tourImg">
		<img src="images/tour-5.png" class="tourImgRight">
	</div>
</div>
<div class="row">
	<div class="col-md-4 tourImg">
		<img src="images/tour-6.png">
	</div>
	<div class="col-md-8">
		<h2>Search for errors or let RAX search for errors from your car. Yes, it's that awesome</h2>
		<p>Things tend to get broken because they are not very well made, or simply because they have to get broken in that moment if you have a bad day. But don't worry! If you are in doubt and you have absolutely no idea what happened, we have the solution for you. You simply open the app, open the error module and search for an error code from or car, or let the app do this for you. And if the thing is really broke, you can also call your mechanic. Also, very important, this feature is available only with the iConnect device (the search thingy).</p>
	</div>
</div>